.border-bottom{
  border-bottom: 1px solid $clr-blue;
  transition: 0.5s ease;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 710px;
  height: 200px;
  background-color: $clr-gray;
  z-index: -1;
  @include mediaQuery($break-lg){
    display: none;
   }
}
.gradientBottomDark{
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient( transparent, $clr-gray);
  bottom: 0;
}
.gradientBottomFromTop{
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient($clr-primary, transparent);
  top: 0;
}
.overlayAbout{
  position: absolute;
  top: 0;
  left: 0;
  width: 790px;
  height: 200px;
  background-color: #212626;
  z-index: 2;
  @include mediaQuery($break-lg){
    display: none;
   }
}
div.slides p{
  position: absolute;
  top: 0;
  right: 0;
  width: 750px;
  height: 114px;
  background-color:$clr-gray;
  z-index: 3;

  @include mediaQuery(){
    display: none;
   }
}

.headerAbout{
  z-index: 999;
 @include mediaQuery(){
  background-color: $clr-gray;
  position: fixed;
  width: 100%;
 }
  &__wrapper{
   .aboutName{
    h2{
      z-index: 999;
      position: relative;
      font-family: $ff-secondary !important;
      font-size: 33px;
      padding: 2rem 1.5rem;
      background-color: $clr-lgreen ;
  }
   }
      nav{
        z-index: 999;
          @include mediaQuery(){
              display: none;
             }
      }
      nav ul{
          gap: 8rem;
          font-size: 18px;
          li a{
              color: white;
              font-family: $ff-primary;
          }
          li:after {
            content: '';
            display: block;
            margin: auto;
            height: 1px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
          }
          li:hover:after {
            width: 100%;
            background: $clr-blue;
          }
      }
  }
}
.banner{
  font-family: $ff-primary;
    &__wrapper{
        position: relative;
        .slide-up{
            position: absolute;
            top: 0;
            left: 3.5rem;
            width: 100%;
            height: 350px;
            overflow: hidden;
            @include mediaQuery($break-lg){
              left: 5rem;
             }
            @include mediaQuery($break-md){
              top: -2rem;
              left: 1rem;
             }
            @include mediaQuery(){
              left: 1rem;
              top: 3rem;
             }
            .skill1{
                animation: 0.5s slide-up;
                margin-top: 0%;
               font-size: 70px;
               @include mediaQuery($break-lg){
                font-size: 50px;
               }
               @include mediaQuery($break-md){
                font-size: 40px;
               }
               @include mediaQuery(){
                font-size: 28px;
               }
         
            }
            .skill2{
                animation: 0.9s slide-up;
                margin-top: 0%;
                font-size: 70px;
                @include mediaQuery($break-lg){
                  font-size: 50px;
                 }
                 @include mediaQuery($break-md){
                  font-size: 40px;
                 }
                @include mediaQuery(){
                  font-size: 28px;
                 }
            }
            .skill3{
                animation: 1.3s slide-up;
                margin-top: 0%;
                font-size: 70px;
                @include mediaQuery($break-lg){
                  font-size: 50px;
                 }
                 @include mediaQuery($break-md){
                  font-size: 40px;
                 }
                @include mediaQuery(){
                  font-size: 28px;
                 }
            }
        }
        @keyframes slide-up{
            from {
                margin-top: 100%;
                height: 300%; 
              }
            
              to {
                margin-top: 0%;
                height: 100%;
              }
            }
        .slide-right {
            margin-top: 23rem;
            height: 200px;
            overflow: hidden;
            margin-left: 3.5rem;
            @include mediaQuery($break-lg){
              margin-top: 17rem ;
              margin-left: 5rem;
            }
            @include mediaQuery($break-md){
              margin-left: 1rem;
              margin-top: 12rem;
             }
            @include mediaQuery(){
              margin-top: 12rem;
              margin-left: 1rem;
              height: 400px;
             }
            p{
                width: 68%;
                animation: 0.5s slide-right;
                @include mediaQuery($break-lg){
                  width: 50%;
                }
                @include mediaQuery(){
                  width: 60%;
                }
            }

            
        }
        @keyframes slide-right {
            from {
              margin-left: -100%;
            }
          
            to {
              margin-left: 0%;
            }
          }

    
        .image{
            position: absolute;
            right: -9rem;
            top: -7rem;
            z-index: -1;
            overflow: hidden;
            @include mediaQuery($break-lg){
              top: -7rem;
              right: -4rem;
            }
            @include mediaQuery($break-md){
              right: -6rem;
            }
            @include mediaQuery(){
              top: -1rem;
              right: -6rem;
            }
            img{
                animation: slide-left 0.5s ease;
                width: 827px;
                height: 758px;
                @include mediaQuery($break-lg){
                  width: 620px;
                  height: 558px;
                }
                @include mediaQuery(){
                  width: 420px;
                  height: 358px;
                }
            }
            
        }
        @keyframes slide-left {
            from {
              margin-left: 100%;
              width: 200%; 
              transition: 0.5s ease;
            }
          
            to {
              margin-left: 0%;
              width: 100%;
              transition: 0.5s ease;
            }
          }
        }
    }
  .buttonCV a{
    position: relative;
    animation: 0.5s slide-right;
    background-color: $clr-lblue;
    font-weight: bold;
    color: black;
    padding: 0.8rem 3.5rem 0.8rem 2rem;
    border: 2px solid black;
    border-radius: 5rem;
    transition: 0.5s ease;

    i{
        position: absolute;
        top: -1px;
        right: -1px;
        padding: 1rem;
        margin-left: 1rem !important;
        background-color: $clr-gray;
        border-radius: 50%;
        border: 1px solid black;
        color: $clr-lblue;
        transition: 0.5s ease;
    
    
    }
    &:hover{
      padding: 0.8rem 2rem 0.8rem 3.5rem;
      background-color: $clr-gray;
      color: $clr-lblue;
      transition: 0.5s ease-in;
      i{
          right: 9.3rem;
          top: 0.01rem;
          border: none;
          transition: 0.5s ease;
      }
  }
}
.mainSkills{
  font-family: $ff-primary;
  padding: 10rem 0;
  @include mediaQuery(){
    padding: 0 0 5rem 0;
  }
  &__wrapper{
    &__details{
      p{
        width: 75%;
        margin: 0 auto;
      }
    }
    .tours{

      border-radius: 25px;
      &__wrapper{

        @include grid(3,1rem);
        @include mediaQuery($break-md){
            @include grid (1,1rem);
        }
      }
      &__card{
        margin-left: 2.5rem;
        max-width: 300px;
        width: 100%;
        height: 500px;
        position: relative;
        transition: 0.5s ease-in;
        border-radius: 25px;
        &::after{
          content: "";
          position: absolute;
          width: 100%;
          height: 10rem;
          background-image: linear-gradient(transparent, rgb(0, 0, 0));
          bottom: 0;
          left: 0;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
      }
      @include mediaQuery(1242px){
        margin: auto;
    }
        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            border-radius: 25px;
            @include mediaQuery(){
                width: 100%;
                height: 500px;
            }
        }
        @include mediaQuery(){
            &:nth-child(1), &:nth-child(2),&:nth-child(3),&:nth-child(4){
                margin-bottom: 1rem;
                top: 0;
        }
    }

        .tours__details{
            position: absolute;
            bottom: 1.5rem;
            left: 0;
            right: 0;
            z-index: 1;
        }
      }
    }
    .tours__card:hover{
      filter: drop-shadow(22px 22px 15px rgba(0, 0, 0, 0.3));
      backdrop-filter: blur(32px);
      transition: 0.5s ease-in;
        &::after{
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(transparent, rgb(0, 0, 0));
          bottom: 0;
          left: 0;
          transition: 0.5s ease;
          z-index: 1;
          border-bottom-left-radius: 25px;
          border-bottom-right-radius: 25px;
      }
      .tours__details h4{
        display: none;
      }
      .overlaySkills{
        z-index: 10;
        color: white;
        position: absolute;
        padding: 1rem;
        text-align: center;
        visibility: visible;
        top: 8rem;
        transition: 0.5s ease-in;
  
          h4{
              font-weight: bold;
              font-size: 18px;
          }
          p{
            font-size: 18px;
            line-height: 25px
          }
      }
  }
  .overlaySkills{
      visibility: hidden;
  }
  }
}
.projects{
  font-family: $ff-primary;
  &__wrapper{
  
    @include grid(2,2rem);
    @include mediaQuery($break-lg){
      @include grid(1,1rem);
    }
    .projectsLeft{
      .projectsInfo{
        h6{
          font-size: 18px;
          font-weight: bold;
          line-height: 33px;
          color: #928D8D ;
        }
        h3{
          font-weight: 700;
          font-size: 33px;
          line-height: 54px;
          @include mediaQuery(){
            line-height: 40px;
          }
        }
        p{
          font-size: 16px;
          line-height: 24px;
          @include mediaQuery(){
            width: 90%;
            margin: 1rem auto;
          
          }
        }
        
        @include mediaQuery($break-lg){
          text-align: center;
        }
        @include mediaQuery(){
          text-align: center;
        }
      }
      .button{
        text-align: center;
        @include mediaQuery($break-lg){
          display: none;
        }
        a{
          color: white;
          padding: 1rem 3rem;
          border: 2px solid $clr-blue;
          font-weight: bold;
          transition: 0.5s ease;

          &:hover{
            padding: 1.5rem 3rem;
            color: #000;
            background-color: #00FFFF;
          }
        }
      }

    }
    .projectsRight{
      .buttonLg{
        text-align: center;
        display: none;
        @include mediaQuery($break-lg){
          display: block;
        }
        a{
          color: white;
          padding: 1rem 3rem;
          border: 2px solid $clr-blue;
          font-weight: bold;
          transition: 0.5s ease;

          &:hover{
            padding: 1.5rem 3rem;
            color: #000;
            background-color: #00FFFF;
          }
        }
      }
    }
    &__item{
      margin: 0 auto;
      width: 450px;
      transition: 0.5s ease;
      h6{
        color: white;
        font-size: 18px;
        font-weight: bold;
        transition: 0.5s ease;
      }
      p{
        font-size: 16px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.8);
        transition: 0.5s ease;

      }
      &:hover{
        width: 460px;
        h6{
          font-size: 20px;
          color: #00FFFF;
        }
        p{
          font-size: 18px;
        }
        .arrow{
          opacity: 1;
          cursor: pointer;
        }
        @include mediaQuery(){
          width: 410px;
        }
        .projectImage img{
          width: 460px;
          @include mediaQuery(){
            width: 410px;
          }
        }
      }
      @include mediaQuery(){
        width: 400px;
      }
      .projectImage img{
        width: 450px;
        object-fit: cover;
        margin-bottom: -10px;
        transition: 0.5s ease;
        @include mediaQuery(){
          width: 400px;
        }
      }
      .arrow{
        position: absolute;
        height: 46px;
        width: 46px;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.5s ease;
      }
      &__details{
        position: relative;
        background: #2C3333;
        transition: 0.5s ease;
        .info{
          padding: 1rem 2rem;
        }

    
        
      }
    }
  
  }
}
.slider{
  font-family: $ff-primary;
  position: relative;
  padding: 6rem 0 18rem 0;
  .tns-outer{
    button[data-action]{
      display: none;
    }
  }
  .tns-nav{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22rem;

  }
  .tns-nav button{
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: rgb(202, 201, 201);
      border: none;
      margin: 0 4px;
  }
  .tns-nav .tns-nav-active{
      background-color: $clr-blue;
  }
  width: 100%;
  margin: 0 auto;

  .box{
    .reviewerPic{
      margin-top: -15rem;
      height: 289;
      width: 289px;
      @include mediaQuery(){
        width: 189px;
        height: 189px;
      }
    }
    .p{
      width: 70%;
      margin: 0 auto;
      margin-bottom: 1.5rem;
      margin-top: 2rem;
      font-size:  clamp(18px,1.8vw, 33px);
      @include mediaQuery(){
          width: 100%;
      }
  }
  }
  h2{
      font-family: $ff-primary;
      margin-bottom: -0.1rem;
      font-size: clamp(1.2rem, 2vw, 2.5rem);
  }
  @include mediaQuery(){
      width: 100%;
  }

}
.my-slider{
  font-family: $ff-primary;
  color: black;
  margin: 15rem 0 3rem 0;
  @include mediaQuery(){
    margin-top: 9rem;
  }
  .reviews{
    position: relative;
    background-color: white;
    padding: 5rem 0;
    border-radius: 20px;
    .quote1{
      position: absolute;
      top: 7rem;
      left: 2rem;
      height: 64px;
      width:64px ;
      @include mediaQuery(){
        left: 0.5rem;
        height: 24px;
        width:24px ;
      }
    }
    .quote2{
      position: absolute;
      bottom: 7rem;
      right: 2rem;
      height: 64px;
      width:64px ;
      @include mediaQuery(){
        right: 0.5rem;
        height: 24px;
        width:24px ;
      }
    }
  }
}
.contact{
  font-family: $ff-primary;
  position: relative;
  &__wrapper{
    @include grid(3,1rem);
    @include mediaQuery($break-lg){
      @include grid(3,1rem);
      width: 90%;
      height: 200px;
      padding: 3rem;
      top: -10rem;
      left: 5%;
    }
    @include mediaQuery($break-md){
      @include grid(1,1rem);
      width: 90%;
      height: 300px;
      padding: 3rem;
      top: -10rem;
      left: 5%;
    }
    position: absolute;
    top: -7rem;
    height: 213px;
    width: 1150px;
    text-align: center;
    align-items: center;
    background-color: $clr-lblue;
    color: black;
    padding: 0 2rem;
    border-radius: 20px;
    .left{
      h2{
        font-size: 33px;
      }
    }
    .mid{
      p{
        width: 90%;
        text-align: center;
        margin: 0 auto;
      }
    }
    .right{
      margin: 0 auto;
      width: 237px ;
      height: 63px;
      gap: 0.7rem;
      border: 1px solid black;
      border-radius: 66px;
      padding: 0 2rem 0 2.8rem;
      transition: 0.5s ease;
 
      a{
        color: black;
      }
      &:hover{
        height: 66px;
        width: 248.29px;
        border: none;
        padding: 0 2rem 0 3rem;
        background-color: $clr-blue;
        filter: drop-shadow(0px 8px 11px rgba(0, 0, 0, 0.5));
      }
    }
  }
}
.footer{
 
  &__wrapper{
    @include mediaQuery(){
      flex-direction: column;
      gap: 2rem;
    }
    .leftFooter{
      @include mediaQuery(){
        text-align: center;
      }
      h1{
        font-size: 70px;
        font-family: $ff-secondary;
        letter-spacing: 5px;
      }
      ul{
        @include mediaQuery(){
          justify-content: center;
          margin-right: -1.5rem;
        }
        li a i{
          color: white;
          font-size: 32px;
          margin-right: 2rem;
          transition: 0.5s ease;
          &:hover{
            color: #00FFFF;
          }
        }
      }
    }
    .rightFooter{
      table{
        font-family: $ff-primary;
        tr{
          td{
            padding-right: 5rem;
            padding-top: 1rem;
            @include mediaQuery(){
              padding-right: 5rem;
              padding-left: 5rem;
            }
          }
          td a{
            color: white;
            transition: 0.5s ease;
          
            &:hover{
              color: #00FFFF;
            }
           
          }
        }
      }
    }
  }
  .copyright{
    p{
      font-family: $ff-primary;
      @include mediaQuery(){
        text-align: center;
      }

    }
  }
  .copyright2{
    font-family: $ff-primary;
    margin-top: 7rem;
    @include mediaQuery(){
      text-align: center;
      margin-top: 0;
    }
  }
}
.swiper {
  font-family: $ff-primary;
  width: 1000px;
  height: 700px;

  @include mediaQuery($break-lg){
    width: 800px;
  }
  @include mediaQuery($break-md){
    width: 700px;
  }
}
.swiper h1{
  text-align: center;
  font-size: 33px;
  line-height: 54px;
  padding: 0 0 3rem 0;
  @include mediaQuery($break-md){
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
  @include mediaQuery(){
    width: 90%;
    line-height: 40px;
  }
}
.swiper-wrapper{
  width: 500px !important;
  @include mediaQuery($break-lg){
    width: 400px !important;
  }
}

.swiper-slide{
  margin: 0 5rem;

}
.slider-card {
  z-index: 20;
  background:black;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);

  transition: all 0.3s;
}
.skills {
  background-color: #000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  height: 280px;
  }
  .img-area{
  border-radius: 10px 10px 0 0;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  }
  .skillName h4 {
  color: #fff;
  font-size: 35px;
  line-height: 1.5;
  margin: 15px 0;
  letter-spacing: 5px;
  }
.swiper-slide:nth-child(even){
  opacity: 0.5;
}
.swiper-slide:nth-child(odd){
  filter: drop-shadow(0px 15px 13px #00FFFF);
}
@media screen and (max-width:500px) {
  .swiper{
    width: 100%;
  }
  .swiper-slide{
    margin: 0 2rem;
    height: 200px;
    width: 300px;
  }
}
.aboutBanner{
  font-family: $ff-primary;
  padding-top: 6rem;
  &__wrapper{
    position: relative;
    .name{
      height: 400px;
      overflow: hidden;
      .arvin{
        position: absolute;
        top: 3.5rem;
        font-size: 150px;
        left: 7.5rem;
        z-index: 5;
        animation: 0.5s slide-right;
        color: $clr-green ;
        -webkit-text-stroke: 0.5vw $clr-green;

        @include mediaQuery($break-lg){
          font-size: 120px;
          left: 1rem;
        }
        @include mediaQuery($break-md){
          font-size: 100px;
          left: 2.2rem;
          top: 2rem;
        }
        @include mediaQuery(){
          font-size: 70px;
          left: 0;
          top: 4rem;
        }
      }
      .arvin::before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: $clr-blue;
        -webkit-text-stroke: 0vw $clr-gray;
        border-right: 2px solid $clr-blue;
        overflow: hidden;
        animation: animate 3s linear infinite;
      }
      .castillo::before{
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        color: $clr-blue;
        -webkit-text-stroke: 0vw $clr-gray;
        border-right: 2px solid $clr-blue;
        overflow: hidden;
        animation: animate 3s linear infinite;
      }
      @keyframes animate{

        0%,10%,100%{
          width: 0;
        }
        70%,90%{
          width: 100%;
        }
      }
      .castillo{
        position: absolute;
        top: 13rem;
        font-size: 150px;
        left: 7.5rem;
        z-index: 10;
        animation: 0.9s slide-right;
        color: $clr-green ;
        -webkit-text-stroke: 0.5vw $clr-green;
        @include mediaQuery($break-lg){
          font-size: 120px;
          left: 1rem;
          top: 12rem;
        }
        @include mediaQuery($break-md){
          font-size: 100px;
          left: 2.2rem;
          top: 9rem;
        }
        @include mediaQuery(){
          font-size: 70px;
          left: 0;
          top: 8rem;
        }
      }
    }
    @keyframes slide-right {
      from {
        margin-left: -100%;
      }
    
      to {
        margin-left: 0%;
      }
    }
    .aboutPic{
      margin: 0 auto;
      margin-bottom: -6px;
      z-index: 7;
      img{
        height: 795px;
        width: 641px;
        @include mediaQuery($break-md){
          height: 564px;
          width: 470px;
          
        }
        @include mediaQuery(){
          margin-left: 45%;
          padding-top: 5rem;
          height: 464px;
          width: 370px;
          
        }
      }
      @include mediaQuery(){
        top: 5rem;
        left: 45%;
      }
    }
    &__content{
      height: 600px;
      overflow: hidden;
      position: absolute;
      left: 65%;
      top: 18rem;
      @include mediaQuery($break-lg){
      top: 15rem;
      }
      @include mediaQuery($break-md){
        top: 9rem;
        .aboutQuote{
          display: none;
        }
      }
      @include mediaQuery{
        left: 0;
        top: 15rem;
        .aboutQuote{
          @include mediaQuery(){
            display: none;
          }
        }
      }
      h6{
        animation: 0.5s slide-left;
        font-size: 18px;
        @include mediaQuery(){
          font-size: 16px;
        }
      }
      h3{
        animation: 0.9s slide-left;
        font-size: 33px;
        width: 500px;
        @include mediaQuery($break-lg){
          width: 270px; ;
        }
        @include mediaQuery($break-md){
          font-size: 25px;
          width: 250px;
        }
        @include mediaQuery(){
          font-size: 20px;
          width: 500px;
        }
      }
      p{
        animation: 1.3s slide-left;
        width: 90%;
        @include mediaQuery(){
          width: 70%;
        }
      }
      .contactBanner{
        animation: 1.7s slide-left;
      }
    
    }
    @keyframes slide-left {
      from {
        margin-left: 100%;

      }
    
      to {
        margin-left: 0%;

      }
    }
  }
}
.aboutInfo{
  font-family: $ff-primary;
  &__wrapper{
    @include mediaQuery($break-md){
      text-align: center;
      flex-direction: column;
      gap: 1rem;
    }
    .aboutLeft{
      h3{
        font-size: 33px;
        @include mediaQuery(){
          font-size: 25px;
          text-align: center;
        }
      }
      p{
        opacity: 80%;
        width: 85%;
        @include mediaQuery($break-md){
          margin: 0 auto;
          margin-bottom: 2rem !important;
        }
        @include mediaQuery(){
          font-size: 16px;
          text-align: center;
          margin: 0 auto;
          margin-bottom: 2rem;
        }
      }
      table.center{
        @include mediaQuery($break-md){
          margin-left: auto;
          margin-right: auto;
        }
        tr{
          td{
            padding-right: 2rem !important;
            @include mediaQuery(){
              padding-left: 2rem;
            }
          }
        }
      }
      @include mediaQuery($break-md){
        order: 2;
      }
    }
    .aboutRight{
      
      img{
        height: 556px;
        width: 556px;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 22px 19px 24px 1px rgba(0, 0, 0, 0.4);
        filter: grayscale(90%);
        transition: 0.5s ease;
        &:hover{
          filter: unset;
        }
        @include mediaQuery($break-lg){
          height: 392px;
          width: 392px;
        }
        @include mediaQuery($break-md){
          order: 1;
          height: 292px;
          width: 292px;
        }
      }
    }
  }
}
.figma{
  font-family: $ff-primary;
  position: relative;
  padding: 6rem 0 25rem 0;
  .figmaInfo{
    padding: 3rem 0 12rem 0;
    @include mediaQuery($break-lg){
      padding-bottom: 7rem;
    }
    @include mediaQuery($break-md){
      padding-bottom: 10rem;
    }
    @include mediaQuery(){
      text-align: center;
      padding-bottom: 4rem;
     }
    h4{
      font-size: 33px;
    }
    h1{
      font-size: 70px;
      letter-spacing: 15px
    }
    p{
      width: 40%;
      @include mediaQuery($break-lg){
       width: 40%;
      }
      @include mediaQuery($break-md){
       width: 100%;
      }
      @include mediaQuery(){
       width: 100%;
      }
    }
  }
  &__wrapper{
 
    @include mediaQuery($break-lg){
      margin-left: 7%;
    }
    @include mediaQuery(){
      flex-direction: column;
    }
    img{
      height: 415px;
      width: 657px;
      cursor: pointer;
      border-radius: 5px;
      transition: 0.3s ease-in-out;
      @include mediaQuery($break-lg){
        height: 315px;
        width: 557px;
        object-fit: cover;
        margin: 0 auto;

      }
      @include mediaQuery($break-md){
        height: 225px;
        width: 316px;
        object-fit: cover;
        margin: 0 auto;
      }
      @include mediaQuery(){
        height: 225px;
        width: 316px;
        object-fit: cover;
        margin: 0 auto;
      }
      &:hover{
        height: 420px;
        width: 662px;
        margin-right: 0.5rem;
        box-shadow: 17px 33px 80px #000000;

        @include mediaQuery($break-lg){
          height: 320px;
          width: 562px;
        }
        @include mediaQuery($break-md){
          height: 230px;
          width: 321px;
        }
        @include mediaQuery(){
          height: 230px;
          width: 321px;
        }
      }
    }
    .figmaLeft{
      @include mediaQuery(){
        margin: 0 auto !important;
      }
      .f3{
        position: relative;
        @include mediaQuery(){
          position: none;
        }
      }
    }
    .figmaRight{
    
      margin-left: -10rem;
      @include mediaQuery($break-md){
        margin-left: -2rem;
        margin-top: -4rem;
      }
      @include mediaQuery(){
        margin-left: 0;
        margin: 0 auto !important;
      }
      .f2{
        margin: -20rem 0 13rem 0;
        @include mediaQuery($break-lg){
          margin-top: -15rem;
          margin-bottom: 9rem;
        }
        @include mediaQuery($break-md){
          margin-top: -5rem;
          margin-bottom: 5rem;
        }
        @include mediaQuery(){
          margin: 2rem 0;
        }
      }
      .f1{
        position: absolute;
        @include mediaQuery(){
          position: none;
        }
      }
    }
  }
}
.accomplishments{
  font-family: $ff-primary;
  padding: 6rem 0 15rem 0;
  &__wrapper{
    gap: 2rem;
    @include grid(4,1rem);
    @include mediaQuery($break-lg){
      @include grid(2, 4rem);
    }
    @include mediaQuery(){
      @include grid(1, 2rem);
    }
    .projectsCompleted{
      margin: 0 auto;
      position: relative;
      height: 210px;
      width: 250px;
      text-align: center;
      background-color: $clr-lgreen;
      box-shadow: 0px 16px 16px #000000;
      border-radius: 25px;
      transition: 0.5s ease;
  
      .logo{
        position: absolute;
        left: 0;
        right: 0;
        top: 2rem;
        width: 65px;
        height: 65px;
        margin: 0 auto;
        transition: 0.5s ease;
      }
      .hoverDisplay h2{
        display: none;
        position: absolute;
        top: 7rem;
        bottom: 0;
        left: 0;
        right: 0;
        text-shadow: 0px 1px 16px rgba(0, 255, 255, 0.8);
        font-size: 33px;
        transition: 0.5s ease;
       
      }
      .accomplishmentsName h2{
        position: absolute;
        bottom: 2rem;
        left: 0;
        right: 0;
        transition: 0.5s ease;
        padding: 0 3rem !important;
      }
      &:hover{
        height: 290px;
        .logo{
          position: absolute;
          left: 0;
          right: 0;
          top: 12rem;
        }
        .hoverDisplay h2{
          transition: 0.5s ease;
          display: block;
        }
        .accomplishmentsName h2{
          position: absolute;
          left: 0;
          right: 0;
          bottom: 12rem;
        }

      }
    }
  }
}
.contactPage{
  font-family: $ff-primary;
  padding-top: 10rem !important;
  @include mediaQuery($break-md){
    padding-top: 2rem !important;
  }
  @include mediaQuery(){
    padding-top: 8rem !important;
  }
  &__wrapper{
    gap: 1.5rem !important;
    @include mediaQuery($break-md){
      flex-direction: column;
      padding-top: 3rem;
    }
    .contactInfo{
      @include mediaQuery($break-md){
        text-align: center;
      }
      h2{
        font-size: 70px;
        @include mediaQuery($break-md){
          font-size: 33px;
        }
      }
      p{
        width: 80%;
        @include mediaQuery($break-md){
          margin: 0 auto;
        }
      }
    }
  }
  .form{
    margin-top: 2rem;
    @include mediaQuery($break-md){
      margin: 0 auto;
    }
    form{
      label{
        margin-bottom: 1rem;
        font-weight: bold;
      }
      input{
        background-color: #395E5E;
        width: 463px;
        height: 49px;
        margin: 1rem 0;
        border-radius: 5px;
        border:  none;
        @include mediaQuery($break-md){
          width: 420px;
        }
      }
      textarea{
        background-color: #395E5E;
        border:  none;
        width: 463px;
        margin-top: 1rem ;
        border-radius: 5px;
        @include mediaQuery($break-md){
          width: 420px;
        }
      }
      input[type=submit]{
        height: 55px !important;
        background-color: $clr-blue !important;
        font-weight: 800;
        font-family: $ff-primary;
        font-size: 18px;
        transition: 0.5s ease;
        &:hover{
          color: #fff;
          background-color: #296D6D !important;
        }
      }
    }
  }
}