.header{
    z-index: 999;
   @include mediaQuery(){
    background-color: $clr-gray;
    position: fixed;
    width: 100%;
   }
    &__wrapper{
        h2{
            z-index: 999;
            position: relative;
            font-family: $ff-secondary;
            font-size: 33px;
            padding: 2rem 1.5rem;
            width: 163px;
            letter-spacing: 2px;
            background-color: $clr-lgreen ;
        }
        nav{
            @include mediaQuery(){
                display: none;
               }
        }
        nav ul{
            gap: 8rem;
            font-size: 18px;
            li a{
                color: white;
            }
        }
    }
}
.toggleMenu span{
    background-color: $clr-blue ;
    display: block;
    height: 0.3rem;
    width: 3rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.5s ease;   
}
.toggleMenu{
    display: none;
    cursor: pointer;
}
.headerMobileNav{
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease;
    ul{
        box-shadow: 0px 12px 16px rgba(5, 5, 5, 0.5);

    }
    li a{
        color: white;
        font-size: 33px;
        transition: 0.5s ease;
        &:hover{
            color: $clr-blue;
        }
   
    }
    @include mediaQuery(){
        display: block;
    }
}
.headerMobileNav.active{
    overflow: visible;
    max-height: 500px;
}
@media (max-width: 768px){
    .toggleMenu{
        display: block;
    }
    nav.open ul{
        right: -50%;
        transition: 0.5s ease-in;
    }
    nav ul{
        display: block;
        position: absolute;
        right: -105%;
        top: 6rem;
        width: 100%;
        height:28.7vh;
        background-color: $clr-blue;
        text-align: left;
        transition: 0.5s ease-in;
        opacity: 85%;
    }
    nav ul li a{
        display: block;
        color: black;
        width: 100%;
        padding: 1rem;
        border-bottom: 1px solid gray;
    }
    nav ul li:hover{
        background-color: white;
    }
    nav ul li:hover a{
        color: $clr-lblue;
    }
    .toggleMenu.open span:nth-child(1){
        transition: 0.5s ease;
        transform: translate(-2px, 11.3px) rotate(45deg);
    }
    .toggleMenu.open span:nth-child(2){
        opacity: 0;
        transition: 0s;
    }
    .toggleMenu.open span:nth-child(3){
        transition: 0.5s ease;
        transform: translate(-2px, -14px) rotate(-45deg);
    }
}